---
- name: Play to automate user creation and user authentication for ansible
  hosts: localhost,managednode1,managednode2
  vars:
    - password: ansible
    - list_of_users:
        - messi
        - ronaldo
        - salah
        
  tasks:
    - name: creating devops group
      group:
        name: devops
        state: present
    - name: creating a group of users and creating keys per each
      user:
        name: "{{item}}"
        groups: devops
        append: yes
        password: "{{password|password_hash('sha512')}}"
        generate_ssh_key: yes
        ssh_key_bits: 2048
        ssh_key_file: ~/.ssh/{{item}}_id_rsa
      loop: "{{list_of_users}}"
    - name: set authorized keys ( like copy-ssh-id)
      authorized_key:
        user: "{{item}}"
        state: present
        key: "{{lookup('file','~/.ssh/{{item}}_id_rsa.pub')}}"
      loop: "{{list_of_users}}"
    - name: Configuring Sudo for each user
      lineinfile:
        path: /etc/sudoers.d/ansible-users
        line: "{{item}} ALL=(ALL) NOPASSWD:ALL"
        state: present
      loop: "{{list_of_users}}"
