#DEPI Files

*.pdf
*.pem
*.ppk
*.key
#*.pptx
#*.docx
*.xlsx
*.pub
*.csv
*.log

#Folder Exclusions

/0Intro_And_Tools/Tools/
/*/Please StudyMe*
/0Intro_And_Tools/Assests/AWSInstances/
/0Intro_And_Tools/Assests/Dumps/
.git-BK/

0SoftSkills/*
0DEPI-DevOpsNinjas-Project/*

7Terraform/providers/*
Assets/TechworldWithNana2024/
0Intro_And_Tools/*
6AWS-Azure/*
7Terraform/StudyMe/
8Ansible/*
9Docker/*
10Kubernates/*