apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins:lts
        ports:
        - name: http-port
          containerPort: 8080
        - name: agent-port
          containerPort: 50000
        volumeMounts:
        - name: jenkins-data
          mountPath: /var/jenkins_home
      volumes:
      - name: jenkins-data
        hostPath:
          path: "/run/desktop/mnt/host/d/Expertise Repository/01 CloudAndDevOps/devops-track-on-the-run/11Jenkins/jenkins-k8s/vol"
          type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  type: NodePort
  selector:
    app: jenkins
  ports:
  - name: http
    port: 8080
    targetPort: http-port
    nodePort: 30080
  - name: agent
    port: 50000
    targetPort: agent-port
    nodePort: 30500

# Restart, Stop, Remove, and View Logs for Jenkins Docker Container
# kubectl get pods
# kubectl delete pod <pod-name> --> kubectl delete pod jenkins-7dbcb9fb8b-b2gfn

# kubectl logs -f <pod-name>

#ORRRRRRRRRRR
# kubectl rollout restart deployment jenkins
