


ubuntu@ip-172-31-45-125:~$ sudo vim /etc/alertmanager/alertmanager.yml

---
global:
route:
  receiver: 'default'
  group_wait: 10s
  group_interval: 15s
  routes:
    - match:
        severity: 'critical'
      receiver: 'HighCPU'
    - match:
        node: 'node_exporter'
      receiver: 'NodeDown'

receivers:
- name: 'default'
  slack_configs:
  - channel: "#general"
    send_resolved: true
    api_url: 'https://hooks.slack.com/services/T06H.......'

- name: 'HighCPU'
  slack_configs:
  - channel: "#first-app"
    send_resolved: true
    api_url: 'https://hooks.slack.com/services/T06HK5M.......'


- name: 'NodeDown'
  email_configs:
  - to: m.......@gmail.com
    from: m.....@gmail.com
    smarthost: smtp.gmail.com:587
    auth_username: m..........@gmail.com
    auth_identity: m..........@gmail.com
    auth_password: u..........
    send_resolved: true
---



ubuntu@ip-172-31-45-125:~$ sudo systemctl restart alertmanager.service

ubuntu@ip-172-31-45-125:~$ sudo systemctl restart prometheus.service





